body{
  font-family: "Arial","Meiryo",sans-serif;
  text-align: center;
}
html{
  font-size: 20px;
}
.blue {
  color: skyblue;
}
.pink{
  color: rgb(255,192,203);
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  font-style: normal;
  letter-spacing: 1.2em;
  text-shadow: 3px 3px 2px gray;
  border-bottom: solid 3px rgb(115,115,114);
}

#basic  p{
  font-weight:bold;
}



